@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-dark: #15162F;
  --primary-blue: #0046FF;
  --soft-blue-100: #F0F4FF;
}

@theme {
 --color-primary-dark: #15162F;
  --color-primary-blue: #0046FF;
  --color-muted-100: #F3F3F3;
  --color-soft-blue-100: #F0F4FF;
  --color-muted-gray: #666666;
   --breakpoint-xl: 1380px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-switzer);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--primary-dark);

}

.font-switzer {
  font-family: var(--font-switzer), system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Font weight utilities */
.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-switzer {
  font-family: var(--font-switzer, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial);
}
